
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }
        h1 {
            text-align: center;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }
        .upload-section, .results-section {
            margin-bottom: 20px;
        }
        .results-section img {
            max-width: 90%;
            height: auto;
        }
        .upload-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
        button {
            background-color: #070a08;
            border: none;
            color: white;
            padding: 12px 8px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 8px;
            transition: background-color 0.3s, transform 0.2s;
            cursor: pointer;
        }
        button:hover {
            background-color: #220360;
            transform: scale(1.05);
        }
        button:active {
            transform: scale(0.98);
        }
        input[type="file"] {
            padding: 10px;
            border: 2px solid #000000;
            border-radius: 8px;
            cursor: pointer;
        }
        input[type="file"]:hover {
            border-color: #002279;
        }
        .text {
            display: inline-block;
            text-align: left;
            margin: 0 auto;
            font-size: 18px;

        }
        .results-section {
            text-align: center;
            padding: 0px 0;
        }
        .results-section p {
            font-size: 18px;
            font-weight: bold;
            color: #333;
            margin: 10px 0;
        }
        .results-section p:last-child {
            font-size: 40px;
            color: #1e002efe;
        }
        #resetButton {
            display: none;
            margin-top: 20px;
            background-color: #000000;
            padding: 12px 8px;
            font-size: 16px;
        }
        #cumulativeCount {
            font-size: 20px;
            color: #1e002efe;
            margin-top: 20px;
        }
