<!DOCTYPE html>
<html>
<head>
    <title>Corn Kernel Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Corn Seeds Classifier</h1>
        <div class="upload-section">
            <form id="uploadForm">
                <input type="file" id="fileInput">
                <button type="submit">Upload Image</button>
            </form>
            <button id="cameraButton">Capture Camera</button>
        </div>
        <div class="results-section" id="resultsSection" style="display: none;">
            <h2>Results</h2>
            <img id="resultImage" src="" alt="Processed Image">
            <div class="text">
                <table id="resultsTable">
                    <tr>
                        <th>Category</th>
                        <th>Count</th>
                    </tr>
                    <tr>
                        <td>Good Seeds</td>
                        <td id="goodCorn"></td>
                    </tr>
                    <tr>
                        <td>Aspergillus niger</td>
                        <td id="whiteFungus"></td>
                    </tr>
                    <tr>
                        <td>Penicillium</td>
                        <td id="blackFungus"></td>
                    </tr>
                    <tr>
                        <td>Corn Fragments</td>
                        <td id="cornFragments"></td>
                    </tr>
                    <tr>
                        <td>Total Seeds</td>
                        <td id="totalKernels"></td>
                    </tr>
                </table>
            </div>
            <p id="cumulativeCount">Cumulative Count: 0</p> <!-- Cumulative Count Display -->
            <button id="resetButton">Reset</button> <!-- Reset button -->
        </div>
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
